*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: radial-gradient(blue,rgb(21, 27, 47)) ;
}
html{
    min-height: 100vh;
}
header{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-info{
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
}
.card-container{
    height: 65vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    perspective: 1000px;
    
 
    
}
.memory-card{
    width: 140px;
    height: 175px;
    position: relative;
    transform-style: preserve-3d;
}
.front-face,.back-face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.front-face{
    transform: rotateY(180deg);
}
.flip{
   transform: rotateY(180deg);
   transition: 0.5s;
}